.wrapper {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.text {
  margin-top: 30px;
  color: red;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
