@import '../../scss/breakpoints';
@import '../../scss/vars';

.wrapper {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  background-color: $main-background;
}

.text {
  font-family: $main-font;
  margin-top: 30px;
  color: $text-red;
  font-weight: 600;
  text-shadow: $text-shadow;
}

// ======================Mobile===================
@media screen and (max-width: $mobile-max) {
  .text {
    font-size: 26px;
  }
}

// =========================== Tablet ===========================

@media screen and (min-width: $tablet) {
  .text {
    font-size: 36px;
  }
}

// ========================== Desktop ===================

@media screen and (min-width: $desktop) {
  .text {
    font-size: 46px;
  }
}
